<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <div class="jokes-container">
      <h1 class="jokes-container__header">Chuck Norris Jokes</h1>
      <p class = "jokes-container__joke"><%= ChuckNorris.random %></p>
    </div>
    <script src="main.js" charset="utf-8"></script>
  </body>
</html>
