body {
  background-color: black;
  color: white;
  font-family: fantasy;
}

.jokes-container__header {
  text-align: center;
  margin-top: 50px;
}

.jokes-container__joke {
  border: 2px solid red;
  width: 60%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 2%;
}
